<!DOCTYPEhtml>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <title>Title</title></head>
<body class="bg-light">
<div class="container">
    <div class="rowjustify-content-md-center">
        <div class="col-md-8"><h4 class="border-bottommy-3" th:text="#{inquiry}"></h4>

            <p class="text-danger" th:text="#{confirmationMessage}"></p>

            <div th:object="${inquiry}">

                <div class="form-group">
                    <label for="password" th:text="#{name}"></label>
                    <input type="text" class="form-control" th:field="*{name}" disabled>
                </div>

                <div class="form-group">
                    <label for="email" th:text="#{email}"></label>
                    <input type="email" class="form-control" th:field="*{email}" disabled>
                </div>

                <div class="form-group">
                    <label for="inquiry" th:text="#{inquiry}"></label>
                    <textarea class="form-control" rows="3" th:field="*{inquiry}" disabled></textarea>
                </div>

            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>

