<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<form th:action="@{/form}" th:object="${user}" method="post">
    <label for="name">name : </label>
    <input type="text" th:field="*{name}">

    <label for="email">E-mail : </label>
    <input type="email" th:field="*{email}">

    <label for="age">Age : </label>
    <input type="number" th:field="*{age}">

    <button>submit</button>
</form>
</body>
</html>