<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initital-scale=1">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <title>form</title>
</head>
<body class="bg-light">
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <h4 class="border-bottom my-3" th:text="#{inquiry}"></h4>

            <form th:action="@{/}" th:object="${inquiry}" method="post" novalidate>

                <div class="form-group">
                    <label for="name" th:text="#{name}"></label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{name}">
                    <div class="invalid-feedback" th:errors="*{name}"></div>
                </div>

                <div class="form-group">
                    <label for="email" th:text="#{email}"></label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{email}">
                    <div class="invalid-feedback" th:errors="*{email}"></div>
                </div>

                <div class="form-group">
                    <label for="inquiry" th:text="#{inquiry}"></label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" th:field="*{inquiry}">
                    <div class="invalid-feedback" th:errors="*{inquiry}"></div>
                </div>

                <button class="btn btn-primary btn-lg btn-block my-4" type="submit" th:text="#{register}"></button>

            </form>

        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
