<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>一言コメントApp</title></head>
<body>
<h3>一言コメント</h3>
<form th:action="@{/add}" th:object="${comment}" method="post">
    <label for="content">コメント:</label>
    <input type="text" th:field="*{content}">
    <button>登録</button>
    <br>
    <small style="color:#ff0000" th:errors="*{content}"></small>
</form>
<br>
<h3>一覧</h3>
<div th:each="comment:${comments}" th:inline="text">
    <div>[[${comment.id}]]-[[${comment.content}]]</div>
</div>
</body>
</html>
